/* .modalTitle {
    text-align: center;
    align-items: center;
    display: flex;
}

.modalTitle h3 {
    font-family: var( --Inter-family);
    font-size: var(  --font-sm);
    font-weight: var(--font-weight-600);
    line-height: 28px;
    text-align: center;
}
.modalTitle h5 {
    font-family: var( --Inter-family);
    font-size: var(  --font-xs);
    font-weight: var( --font-weight-400);
    line-height: 20px;
    text-align: center;
    color: var(--tertiary-100);

} */
