.welcomeWrapper {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomeText h5 {
    color: var(--secondary-300);
    opacity: 0.7;
    letter-spacing: 1px;
    font-family: var(--Poppins-family);
    font-weight: var(--font-weight-400);
}

.dashboardWrapper {
    height: 100%;
}