.ant-divider.ant-divider-with-text {
    border-block-start: var(--tertiary-100);
}

.ant-form-item-label label {
    color: var(--text-color);
    font-weight: var(--font-weight-500);
}

.ant-form-item-control-input-content .ant-input-outlined {
    border: 1px solid var(--text-color);
    padding: 10px 14px;
    line-height: 1;
    border-radius: 12px;
    color: var(--tertiary-100);
    font-size: var(--font-sm);
}

.ant-form-item-control-input-content .ant-select-selector {
    border: 1px solid var(--text-color) !important;
    padding: 7px 14px !important;
    line-height: 1;
    border-radius: 12px;
    color: var(--tertiary-100);
    font-size: var(--font-sm);
    height: auto !important;
}

.ant-select.ant-select-outlined.ant-select-in-form-item {
    height: auto;
}

.ant-form-item-control-input-content .ant-select-selector input {
    height: 100% !important;
}

.ant-form-item-control-input-content .ant-picker {
    border: 1px solid var(--text-color) !important;
    padding: 11px 14px !important;
    line-height: 1;
    border-radius: 12px;
    color: var(--tertiary-100);
    font-size: var(--font-sm);
}

.ant-form-item-control-input>* {
    height: auto !important;
}

.padding-16 {
    padding-inline: 8px;
}

.modal_maxwidth {
    max-width: 90%;
}

.forgot-pass {
    justify-content: flex-end !important;
}

.forgot-pass a {
    text-decoration: underline;
    color: var(--secondary-100);
    font-weight: 500;
}

.custom-checkbox .ant-form-item-control-input-content span.ant-checkbox-inner {
    border: 2px solid var(--secondary-100);
    border-radius: 2px;
}

.custom-checkbox .ant-form-item-control-input-content .ant-checkbox-checked span.ant-checkbox-inner {
    background: var(--secondary-100);
}

.custom-checkbox .ant-form-item-control-input-content {
    font-family: var(--Inter-family);
    letter-spacing: 0.5px;
}

.ant-modal .ant-modal-title {
    font-size: var(--h5-font) !important;
    padding-bottom: 10px;
}

/* ======= antd sidebar override css ========= */
.menuSider {
    padding: 15px;
    height: calc(100vh - 72px);
    overflow-y: auto;
    border: 0 !important;
}

ul.ant-menu.menuSider li.ant-menu-item {
    margin: 0;
    padding: 10px 10px !important;
    height: auto;
    line-height: initial;
    color: var(--tertiary-100);
    font-weight: var(--font-weight-500);
    font-family: var(--Inter-family);
    font-size: var(--font-xs);
    margin-bottom: 8px;
    border-radius: 8px;
}

ul.ant-menu.menuSider li.ant-menu-item.ant-menu-item-selected,
ul.ant-menu.menuSider li.ant-menu-item:hover {
    background: var(--new-primary-200) !important;
    color: var(--new-primary-100) !important;
}

ul.ant-menu.menuSider li.ant-menu-item svg {
    font-size: 20px;
}

aside.ant-layout-sider.ant-layout-sider-collapsed ul.ant-menu.menuSider {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside.ant-layout-sider.ant-layout-sider-collapsed ul.ant-menu.menuSider li.ant-menu-item {
    padding: 10px 8px !important;
}

aside.ant-layout-sider.ant-layout-sider-collapsed .lightdarkBTN span {
    display: none;
}

aside.ant-layout-sider.ant-layout-sider-collapsed .lightDarkmode {
    flex-wrap: wrap;
    margin: 20px 16px;
}

aside.ant-layout-sider.ant-layout-sider-collapsed .menuSider {
    height: calc(100vh - 185px);
}

.nav_dropdown {
    font-size: var(--body-font);
    color: var(--black-color);
    font-family: var(--Poppins-family);
}

.user-role {
    display: block;
    font-weight: var(--font-weight-400);
    font-size: 12px;
}

.nav_dropdown h6 {
    font-size: var(--body-font);
    margin: 0;
}

.nav_dropdown .ant-space {
    display: flex;
    align-items: center;
}

.nav_dropdown .ant-space-item {
    line-height: 0;
    font-weight: var(--font-weight-500);
}

.nav_dropdown svg {
    font-size: 22px;
    color: var(--tertiary-100);
}

/* import data form css */
.ant-form-item-control-input-content .forminput {
    border: 1px solid var(--tertiary-500);
    padding: 10px 15px;
    border-radius: 8px;
    color: var(--tertiary-100);
}

.ant-form-item-control-input-content .forminput::placeholder {
    color: var(--tertiary-100);
}

.ant-form-item-control-input-content .forminput .ant-select-selector {
    border: 0;
}

.ant-form-item-control-input-content .forminput.ant-select {
    height: 43px;
    padding: 10px 5px;
}

.ant-progress-bg.ant-progress-bg-outer {
    background: var(--blue-color);
}

/* not found page css */
.error_page {
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.error_page::after {
    content: "";
    width: 300px;
    height: 300px;
    background: var(--black-color);
    position: absolute;
    bottom: -100px;
    right: -150px;
    border-radius: 100%;
}

.error_page_wrapper h1 {
    font-size: clamp(100px, 10.417vw, 200px);
    margin: 0;
    line-height: 1;
}

.error_image {
    padding: 20px 0;
}


/* table design antd */
.ant-table-content table {
    border: 1px solid var(--tertiary-400);
    border-radius: 12px;
}

.ant-table-content table thead.ant-table-thead th.ant-table-cell {
    background: var(--tertiary-400);
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 13px;
    color: var(--secondary-300);
    text-align: center;
}

.ant-table-content table tbody.ant-table-tbody {
    text-align: center;
}

.ant-modal-body {
    max-height: 400px;
    overflow-y: auto;
}

.btn-blank {
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    font-size: var(--h5-font);
}

.modal-table table tbody.ant-table-tbody td.ant-table-cell {
    border: 0;
    padding: 5px;
}

.table-cell {
    border: 1px solid var(--tertiary-300);
    padding: 7px;
    border-radius: 6px;
}

.prevalidationTable table tbody.ant-table-tbody tr td {
    padding: 12px;
}

.prevalidationTable table thead.ant-table-thead th.ant-table-cell {
    font-size: var(--base-font);
}

.fontsm {
    font-size: var(--base-font);
    font-weight: var(--font-weight-600);
}

.alinbottom {
    align-items: flex-end;
}

.mb1 {
    margin-bottom: 1.5rem;
}

input[type="checkbox"] {
    accent-color: var(--black-color);
}

.ant-checkbox-checked span.ant-checkbox-inner {
    background: var(--black-color) !important;
    border-color: var(--black-color) !important;
}

.prevalidationTable .ant-select,
.prevalidationTable .ant-select * {
    height: auto !important;
    line-height: 1 !important;
    border: 0 !important;
}

.prevalidationTable .ant-select {
    width: 100%;
}

.prevalidationTable .ant-select .ant-select-selector:after {
    line-height: 1;
}

.list-style li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
    font-weight: var(--font-weight-500);
}

.list-style li.success {
    color: green;
}

.list-style li.error {
    color: var(--error-color);
}


.list-style li::before {
    content: "";
    width: 6px;
    height: 6px;
    background: var(--primary-200);
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 8px;
}

.clean_data_table {
    background-color: var(--white-color);
}

.clean_data_table .loading {
    height: auto;
    min-height: 100px;
    position: relative;
}

.folderPreviewtable td.ant-table-cell {
    min-width: 150px;
}

.prevalidationTable .ant-select .ant-select-selector {
    background: transparent;
}

.margin-16 .ant-row {
    margin: 0 !important;
}

/* pagination css */
ul.ant-pagination li a {
    border: 1px solid var(--tertiary-300);
    border-radius: 8px;
}

ul.ant-pagination li {
    border: 0 !important;
}

ul.ant-pagination li.ant-pagination-item-active a {
    border-color: var(--primary-100);
    background: var(--primary-100);
    color: var(--white-color) !important;
}

ul.ant-pagination li a.ant-pagination-item-link .ant-pagination-item-container {
    min-width: 35px;
}


.alert-info svg {
    width: 25px;
    height: 25px;
}

.alert-info {
    margin: 0 !important;
}

.alert_info_text {
    margin-left: 10px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.alert_info_text span.anticon {
    font-size: 18px;
    margin-top: 5px;
}

.note_text b {
    color: var(--error-color);
}

/* Workflow css start */
.react-flow {
    min-height: calc(100vh - 120px);
    height: 100%;
}

.accordian .ant-collapse-item .ant-collapse-header {
    border-radius: 0 !important;
    background: var(--tertiary-200);
    flex-direction: row-reverse;
}

.accordian.ant-collapse {
    border: 0;
    border-top: 1px solid var(--tertiary-300);
    border-radius: 0;
    max-height: 44vh;
    overflow-y: auto;
}

.accordian .ant-collapse-header-text {
    font-weight: var(--font-weight-500);
    font-size: var(--h6-font);
    font-family: var(--Roboto-family);
}

.btn-discard {
    background: var(--tertiary-300);
    color: var(--secondary-100);
}

.react-flow__node.react-flow__node-default {
    border-color: var(--tertiary-300);
    border-radius: 10px;
    min-width: 290px;
}

.workspace_select {
    width: 100%;
}

.conditionalmodal .ant-form-item-control-input-content .ant-select-selector,
.conditionalmodal .ant-form-item-control-input-content .ant-input-outlined {
    border-radius: 8px;
    border: 1px solid var(--tertiary-600) !important;
}

span.ant-select-selection-placeholder {
    color: var(--primary-100) !important;
}

.conditionalmodal .ant-form-item-control-input-content .ant-input-outlined::placeholder {
    color: var(--primary-100) !important;
}

.margin_zero .ant-form-item {
    margin: 0;
}

.max-width-md {
    max-width: 700px;
}

.nowrap .ant-row {
    width: 100%;
}

.radiogroup {
    background: var(--tertiary-400);
    padding: 5px 10px;
    border-radius: 30px;
}

.radiogroup label.ant-radio-button-wrapper {
    border: 0 !important;
    border-radius: 30px;
    height: auto;
    font-weight: var(--font-weight-500);
    background: var(--tertiary-400) !important;
}

.radiogroup label.ant-radio-button-wrapper:before {
    display: none;
}

.radiogroup label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    background: var(--tertiary-100) !important;
    color: var(--white-color) !important;
}

.conditionalmodal .ant-modal-body {
    max-height: 75vh;
}

.pivot_tabination .ant-tabs-nav-list .ant-tabs-tab {
    background: var(--tertiary-200);
    border: 0;
    margin: 0;
    padding: 12px;
    min-width: 100px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: var(--primary-100);
}

.pivot_tabination .ant-tabs-ink-bar {
    display: none;
}

.pivot_tabination .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active {
    background: var(--white-color);
}

.pivot_tabination .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--primary-100);
}

.pivot_tabination .ant-tabs-nav {
    margin: 0 !important;
}

.pivot_tabination .ant-tabs-content-holder {
    background: var(--white-color);
    padding: 20px;
}

.checkbox_columns {
    width: 100%;
    margin-bottom: 15px;
}

.iconFont {
    font-size: 20px;
}

.or-div {
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
}

.or-div span {
    font-weight: bold;
    background: var(--white-color);
    display: inline-block;
    position: relative;
    z-index: 2;
    padding: 0 10px;
}

.or-div:after {
    content: "";
    height: 1px;
    width: 100%;
    background: var(--tertiary-500);
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
}

.customselect .ant-select.ant-select-outlined {
    padding: 0 !important;
    margin: 0;
}

.customselect .ant-select.ant-select-outlined .ant-select-selector {
    border-color: var(--tertiary-500) !important;
    padding: 2px 12px !important;
    border-radius: 8px !important;
}

.customselect .ant-form-item-control-input-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.nostyle {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.react-flow__node .react-flow__handle {
    width: 8px;
    height: 8px;
}

.react-flow__node .react-flow__handle:after {
    content: "";
    width: 15px;
    height: 30px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}


/* ================================= new css start here ======================= */
.custom_form .ant-form-item-control-input-content .ant-input-outlined,
.custom_form .ant-form-item-control-input-content .ant-select-selector {
    border-color: var(--tertiary-300) !important;
}