.workspaceWrapper {
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.workspaceBox {
    justify-content: flex-start;
    flex-wrap: nowrap;
    border: 1px solid var(--primary-300);
    border-radius: 14px;
    padding: 15px 20px;
    background: #F8FFFF;
    color: var(--primary-400);
    width: 100%;
    max-width: calc(33.333% - 0.7rem);
    font-family: var(--SourCode-family);
}

.times {
    min-width: 100px;
}

.times span {
    font-weight: var(--font-weight-600);
    color: var(--primary-400);
}

.nameList {
    border-left: 1px solid var(--tertiary-400);
    padding-left: 15px;
    width: 100%;
}

.nameList h6 {
    margin-bottom: 8px;
    font-weight: var(--font-weight-600);
    font-family: var(--SourCode-family);
    line-height: 1.2;
    word-break: break-all;
}

.usersImages {
    padding-left: 5px;
}

.usersImages img {
    margin-left: -5px;
    border-radius: 100%;
}

.btnDropdown {
    background: #00444433 !important;
    border: 0;
    padding: 2px;
    height: auto;
    border-radius: 3px;
    color: var(--primary-400);
    margin-top: 5px;
}

.dropdownList {
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
}

@media screen and (max-width: 1199px) {
    .workspaceBox {
        max-width: calc(50% - 1rem);
    }
}

@media screen and (max-width: 991px) {
    .workspaceBox {
        max-width: 100%;
    }
}