.planWrapper {
    padding: 0 8px;
}

.planBox {
    border: 1px solid var(--tertiary-300);
    border-radius: 15px;
}

.planHeading {
    padding: 30px 20px;
    border-bottom: 1px solid var(--tertiary-300);
}

.planname {
    justify-content: flex-start;
    align-items: flex-end;
    padding: 15px 0 10px;
}

.planname span {
    display: block;
    padding-bottom: 8px;
}

.planHeading h6 {
    margin: 0;
}

.planBox h2 {
    margin: 0;
    line-height: 1;
}

.buybtn {
    width: 100%;
    padding: 12px 20px;
}

.planDescription {
    padding: 30px 20px;
}

.planDescription h6 {
    margin-bottom: 0;
}

.planBox ul {
    text-align: left;
}